// ------ Colors ------
$primary-color: #292929;
$primary-surface-color: #F9F9F9;

$success-color: #52C41A;
$warning-color: #FAAD14;
$error-color: #FF4D4F;

$secondary-surface-color: #FFFFFF;
$font-color-light: #FFFFFF;
$font-color-dark: #292929;
$border-color: #E4E4E4A0;
$github-primary-color: #292929;

// ------ Sizes ------
$border-radius: 0.3rem;
